<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" th:replace="~{fragments/layout :: base('Checkout', ~{::body})}">
<body>
	<div class="container-fluid">
		<form action="#" method="post" th:action="@{/cart/checkout/}" th:object="${form}">
			<div class="row mt-3">

				<!-- Payment Method -->
				<div class="col-md-8">
					<h3 class="font-weight-bold">Checkout</h3>
					<hr>

					<h5 class="font-weight-bold">Payment Method</h5>

					<div class="custom-control custom-radio">
						<input type="radio" id="slipRadio" th:field="*{method}" name="method" class="custom-control-input" value="slip"
							required>
						<label class="custom-control-label" for="slipRadio">Pay with Bank Slip</label>
					</div>

					<div class="custom-control custom-radio">
						<input type="radio" id="cardRadio" th:field="*{method}" name="method" class="custom-control-input" value="card">
						<label class="custom-control-label" for="cardRadio">Credit card</label>
					</div>

					<hr>

					<!-- Credit cart section -->
					<div id="cardContainer" style="display: none;">
						<div class="form-group" th:if="${!#lists.isEmpty(cards)}">
							<label for="cardSelect" class="font-weight-bold d-block">Your Cards</label>
							<select id="cardSelect" class="custom-select" style="width: 300px;" th:field="*{selectedCard}">
								<option th:each="card : ${cards}" th:value="${card.id}" th:text="${'****' + #strings.substring(card.number, 12,16)}">****
									**** **** 3800 | EXP: 08/28</option>
							</select>
						</div>

						<div id="newCardDiv" class="card mt-3">
							<div class="card-body" th:object="${newCard}">
								<div class="form-row">
									<div class="col-md-8">
										<div class="form-group">
											<label for="nameOnCardInput">Name on Card</label>
											<input type="text" id="nameOnCardInput" name="name" class="form-control" placeholder="Name on Card"
												th:field="*{name}">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="cardNumberInput">CPF</label>
											<input type="text" id="cardNumberInput" name="cpf" class="form-control" placeholder="CPF" maxlength="11"
												pattern="\d{11}" th:field="*{cpf}">
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="cardNumberInput">Card Number</label>
									<input type="text" id="cardNumberInput" name="number" class="form-control" placeholder="Card Number"
										maxlength="16" pattern="\d{16}" th:field="*{number}">
								</div>

								<div class="form-row">
									<div class="col">
										<div class="form-group">
											<label for="monthSelect">MM</label>
											<select class="custom-select" id="monthSelect" th:field="*{month}">
												<option value="" selected>MM</option>
												<option th:each="month : ${#numbers.sequence(1, 12, 1)}"
													th:value="${#numbers.formatInteger(month, 2, 'POINT')}"
													th:text="${#numbers.formatInteger(month, 2, 'POINT')}"></option>
											</select>
										</div>
									</div>

									<div class="col mr-3">
										<div class="form-group">
											<label for="yearSelect">YYYY</label>
											<select class="custom-select" id=yearSelect th:field="*{year}">
												<option value="" selected>YYYY</option>
												<option th:each="year : ${#numbers.sequence(2020, 2040, 1)}" th:value="${year}" th:text="${year}"></option>
											</select>
										</div>
									</div>

									<div class="col">
										<div class="form-group">
											<label for="securityCodeInput">Security Code</label>
											<input type="text" id="securityCodeInput" name="securityCode" class="form-control"
												placeholder="Security Code" th:field="*{securityCode}">
										</div>
									</div>
								</div>
							</div>

							<div class="form-check card-footer text-center">
								<input class="form-check-input" type="checkbox" id="flexCheckDefault" name="rememberCard"
									th:field="*{rememberCard}">
								<label class="form-check-label" for="flexCheckDefault">Remember this card</label>
							</div>
						</div>
					</div>
				</div>

				<!-- Summary -->
				<div class="col-md-4">
					<h3 class="text-primary font-weight-bold">Summary</h3>

					<div class="card shadow-lg">
						<div class="card-body">
							<label class="text-muted">Original price</label>
							<h4 th:text="${'$' + #numbers.formatDecimal(#aggregates.sum(cart.items.![clothe.price * quantity]), 2, 2, 'POINT')}">$ 165,99</h4>

							<label class="text-muted">Discounts</label>
							<h4>- $0,00</h4>

							<hr>

							<div class="form-row">
								<div class="col">
									<h4 class="font-weight-bold">Total</h4>
								</div>
								<div class="col text-right">
									<h3 class="font-weight-bold" th:text="${'$' + #numbers.formatDecimal(#aggregates.sum(cart.items.![clothe.price * quantity]), 2, 2, 'POINT')}">$
										100,00</h3>
								</div>
							</div>

							<div style="font-size: 12px; line-height: 19px; margin-bottom: 8px;">
								<span>
									By completing your purchase you agree to these
									<a href="#" class="text-decoration-none">Terms of Service</a>
									.
								</span>
							</div>

							<button type="submit" class="btn btn-success form-control">
								<b>Complete Payment</b>
							</button>
						</div>
					</div>
				</div>

			</div>
		</form>
	</div>
	<script type="text/javascript">
		$('input[type="radio"]').change(function() {
			var method = $(this).val();

			if (method === "slip") {
				$("#cardContainer").hide();
			} else {
				$("#cardContainer").show();
			}
		});
	</script>
</body>
</html>