<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" th:replace="~{fragments/layout :: base('Category', ~{::body})}">
<body>
	<div class="container-fluid col-md-6 mt-3">
		<h3 class="font-weight-bold">Category</h3>

		<form action="#" method="post" th:action="@{/category/new}" th:object="${category}">

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Name" th:field="*{name}">
			</div>

			<div class="form-group">
				<textarea class="form-control" placeholder="Description" th:field="*{description}"></textarea>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary form-control">Add</button>
			</div>
		</form>
	</div>

</body>
</html>