<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="https://thymeleaf.org"
	th:replace="~{fragments/layout :: base('Everyone', ~{::body})}">
<body>
	<div class="container-fluid col-md-10 mt-3">
		<div class="alert alert-success mt-3" th:if="${message != null}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<span th:text="${message}">Your changes have been successfully
				saved.</span>
		</div>

		<div id="carouselExampleSlidesOnly" class="carousel slide"
			data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<a href="#" th:href="@{/clothes/filter?gender=Female}">
						<img th:src="@{/images/image1.gif}" class="d-block w-100"
							alt="...">
					</a>
				</div>
			</div>
		</div>

		<hr>

		<div id="carouselExampleSlidesOnly" class="carousel slide"
			data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<a href="#" th:href="@{/clothes/filter?gender=Male}">
						<img th:src="@{/images/image2.png}" class="d-block w-100"
							alt="...">
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>