<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="https://thymeleaf.org"
	th:replace="~{fragments/layout :: base('Everyone', ~{::body})}">
<body>

	<div class="container-fluid col-md-8">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="https://dafitistatic-a.akamaihd.net/dynamic_yield/cms/static/images/24e5c9de9fa55__masc70OFF.gif"
						class="d-block w-100" alt="...">
				</div>
			</div>
		</div>

		<hr>

		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img
						src="https://dafitistatic-a.akamaihd.net/dynamic_yield/cms/static/images/295cb0315d3da___SPECIALPLACEMENT_B2B_1064x200.gif"
						class="d-block w-100" alt="...">
				</div>
			</div>
		</div>
	</div>
</body>
</html>