<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" th:replace="~{fragments/layout :: base('Login', ~{::body})}">
<body>
	<div class="container-fluid col-md-6 mt-3">
		<div class="card mt-3" style="text-align: center;">
			<h3 class="card-header">I'M ALREADY A CUSTOMER</h3>

			<form th:action="@{/perform_login}" method="post" class="card-body">
				<div class="col-xs-15">
					<div th:if="${param.error}">
						<div class="alert alert-danger" role="alert">Invalid Email and Password. Try again.</div>
					</div>
				</div>

				<div class="form-group">
					<input type="text" name="email" class="form-control" placeholder="Email">
				</div>

				<div class="form-group">
					<input type="password" name="password" class="form-control" placeholder="Password">
				</div>

				<div class="form-group">
					<button type="submit" class="form-control btn btn-primary">LOG IN</button>
				</div>

				<a th:href="@{/register}">I WANT TO SIGN UP</a>
			</form>
		</div>
	</div>
</body>
</html>